@using portfolio_siwa.Composants.Global.FondMedia
@using portfolio_siwa.Composants.Global.Boutons.BoutonFondTransparent
@using portfolio_siwa.Composants.Global.BlocsContenu.BlocContenuGaucheDroite
@using portfolio_siwa.Composants.Global.BlocsContenu.BlocTexteMedia
@using portfolio_siwa.Composants.Global.Images.ImageDimensionee
@using portfolio_siwa.Composants.Global.AnchorNavigation
@using portfolio_siwa.Composants.Global.Boutons.BoutonGradientViolet
@using portfolio_siwa.Composants.Global.BlocsContenu.Bloc3Contenu
@using portfolio_siwa.Composants.Projet
@using portfolio_siwa.Composants.Global.Techno
@using portfolio_siwa.Composants.Global.HautPage
@using portfolio_siwa.Composants.Global.BasPage

@page "/"

<AnchorNavigation />

<div class="contenu">
    <section id="partie1"  class="haut-page separation-contenu marge-pages">
        <HautPage />
    </section>
        
    <section id="partie2" class="separation-contenu-legere marge-pages">
        <Projet
            Titre="@this.TitreProjetGenseSense"
            ImagePrincipale="/Images/projets/genesense.png"
            Texte="@this.DescriptionProjetGenseSense"
            PositionMedia="PositionMedia.Gauche"
            LienGithub="@this.GenseSenseGithub"
            Details="@this.DetailsProjetGenseSense">
        <BasPage>
            <div class="technos">
                <Techno Nom="Python 3" Description="@this.GeneSenseDescriptionPython" Logo="Images/logos/logoPython.svg" />
                <Techno Nom="Flask" Description="@this.GeneSenseDescriptionFlask" Logo="Images/logos/flask.svg" />
                <Techno Nom="Blazor Server" Description="@this.GeneSenseDescriptionBlazor" Logo="Images/logos/logoBlazor.png" />
                <Techno Nom="YOLO" Description="@this.GeneSenseDescriptionYolo" Logo="Images/logos/logoYolo.png" />
                <Techno Nom="Docker" Description="@this.GeneSenseDescriptionDocker" Logo="Images/logos/logoDocker.png" />
            </div>
        </BasPage>    
        </Projet>
    </section>

    <section id="test" class="separation-contenu marge-pages">
        <Projet
            Titre="@this.TitreProjetGenseSense"
            ImagePrincipale="/Images/projets/genesense.png"
            Texte="@this.DescriptionProjetGenseSense"
            PositionMedia="PositionMedia.Droite">
        <BasPage>
            <div class="technos">
                <Techno Nom="Python 3" Description="@this.GeneSenseDescriptionPython" Logo="Images/logos/logoPython.svg" />
                <Techno Nom="Flask" Description="@this.GeneSenseDescriptionFlask" Logo="Images/logos/flask.svg" />
                <Techno Nom="Blazor Server" Description="@this.GeneSenseDescriptionBlazor" Logo="Images/logos/logoBlazor.png" />
                <Techno Nom="YOLO" Description="@this.GeneSenseDescriptionYolo" Logo="Images/logos/logoYolo.png" />
                <Techno Nom="Docker" Description="@this.GeneSenseDescriptionDocker" Logo="Images/logos/logoDocker.png" />
            </div>
        </BasPage>    
        </Projet>

    </section>
        <section class="separation-contenu marge-pages">
        <Projet
            Titre="@this.TitreProjetGenseSense"
            ImagePrincipale="/Images/projets/genesense.png"
            Texte="@this.DescriptionProjetGenseSense"
            PositionMedia="PositionMedia.Gauche">
        <BasPage>
            <div class="technos">
                <Techno Nom="Python 3" Description="@this.GeneSenseDescriptionPython" Logo="Images/logos/logoPython.svg" />
                <Techno Nom="Flask" Description="@this.GeneSenseDescriptionFlask" Logo="Images/logos/flask.svg" />
                <Techno Nom="Blazor Server" Description="@this.GeneSenseDescriptionBlazor" Logo="Images/logos/logoBlazor.png" />
                <Techno Nom="YOLO" Description="@this.GeneSenseDescriptionYolo" Logo="Images/logos/logoYolo.png" />
                <Techno Nom="Docker" Description="@this.GeneSenseDescriptionDocker" Logo="Images/logos/logoDocker.png" />
            </div>
        </BasPage>    
        </Projet>
    </section>

    <section id="partie3" class="bas-page separation-contenu marge-pages">

        <BasPage />
    </section>
</div>

@code {
    private string Titre => "Siwa";
    private string ImagePrincipale => "Images/agora1.png";

    MarkupString? Texte => new MarkupString(
        "Siwa est une application web de gestion de projets. Elle permet de suivre l'avancement des projets, de gérer les tâches, les ressources et les coûts. Elle est développée en C# avec le framework ASP.NET Core et utilise une base de données SQL Server."
    );
}