@using portfolio_siwa.Composants.Global.FondMedia
@using portfolio_siwa.Composants.Global.Boutons.BoutonFondTransparent
@using portfolio_siwa.Composants.Global.BlocsContenu.BlocContenuGaucheDroite
@using portfolio_siwa.Composants.Global.BlocsContenu.BlocTexteMedia
@using portfolio_siwa.Composants.Global.Images.ImageDimensionee
@using portfolio_siwa.Composants.Global.AnchorNavigation
@using portfolio_siwa.Composants.Global.Boutons.BoutonGradientViolet
@using portfolio_siwa.Composants.Global.BlocsContenu.Bloc3Contenu
@using portfolio_siwa.Composants.Projet
@using portfolio_siwa.Composants.Global.Techno
@using portfolio_siwa.Composants.Global.HautPage
@using portfolio_siwa.Composants.Global.BasPage

@page "/"

<AnchorNavigation />

<div class="contenu">

    <div class="haut-page separation-contenu marge-pages">
        <div id="home">
            <p>coucou</p>
        </div>
        <HautPage />
    </div>
        

    <section class="separation-contenu-legere marge-pages">
        <div id="travaux">
            <p>coucou</p>
        </div>
        <Projet
            Titre="@Titre"
            ImagePrincipale="@ImagePrincipale"
            Texte="@Texte"
            PositionMedia="PositionMedia.Gauche">
        <BasPage>
            <div class="technos">
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
            </div>
        </BasPage>    
        </Projet>
    </section>

    <section class="separation-contenu marge-pages">
        <Projet
            Titre="@Titre"
            ImagePrincipale="@ImagePrincipale"
            Texte="@Texte"
            PositionMedia="PositionMedia.Droite">
        <BasPage>
            <div class="technos">
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
                <Techno Nom="ASP.NET Core" Description="Framework de développement web" Logo="Images/technos/csharp.png" />
            </div>
        </BasPage>    
        </Projet>
    </section>

    <div class="bas-page separation-contenu marge-pages">
        <div id="propos">
            <p>coucou</p>
        </div>
        <BasPage />
    </div>
</div>

@code {
    private string Titre => "Siwa";
    private string ImagePrincipale => "Images/agora1.png";

    MarkupString? Texte => new MarkupString(
        "Siwa est une application web de gestion de projets. Elle permet de suivre l'avancement des projets, de gérer les tâches, les ressources et les coûts. Elle est développée en C# avec le framework ASP.NET Core et utilise une base de données SQL Server."
    );
}