<div class="card">

    <img src="@cheminImage" alt="Image" class="card-image" />

    <div class="card-content">

        <h3>@titre</h3>
        <p>@paragraphe</p>

    </div>

   <div class="informations">

        @if (redirectionGithub != "invisible")
        {
            <div class="redirectionsCarte">
                <a href="@redirectionGithub" class="navbar-item">
                    <img src="/icones/iconeGithub.png" alt="GitHub" id="github">
                </a>
            </div>

            @if (cheminPageAssociee != null)
            {
                <button class="btn-discover" @onclick="@redirectionBouton">
                    <img src="/icones/iconeParchemin.png" alt="Icône Parchemin" class="icon">
                    Découvrir le projet
                </button>
            }
        }

    </div>

    <div class="tag">@texteTag</div>

</div>
